<div class="child-links">
    {% set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
        {% if page
            .fileSlug
            .includes(entry.title.toLowerCase()) %}
            <h2>Read more in one of the subpages to {{entry.title}}</h2>
            {%- for child in entry.children %}
                <a href="{{ child.url }}">
                    {{ child.title }}
                </a>
            {%- endfor %}
        {% endif %}
    {%- endfor %}
</div>