{% macro footerLink(entry) %}
    {% if entry.children | length > 0 %}
        <div class="footer-navigation__collection">
            <h4 class="footer-navigation__collection-title">
                {{ entry.title }}
            </h4>
            {% for child in entry.children %}
                {{ childFooterLink(child) }}
            {% endfor %}
        </div>
    {% else %}
        <a href="{{ entry.url }}">{{ entry.title }}</a>
    {% endif %}
{% endmacro %}
{% macro childFooterLink(entry) %}
    {# It may be worth putting some more frontmatter flags that let things opt into listing here.  There's currently a lot. #}
    {% if entry.children | length > 0 %}
        <span class="footer-navigation__collection-sublink">
            <a href="{{ entry.url }}">{{ entry.title }} + ...</a>
        </span>
    {% else %}
        <span class="footer-navigation__collection-sublink">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
        </span>
    {% endif %}
{% endmacro %}
