<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/svg/logo.svg">
    <link rel="mask-icon" href="/svg/logo.svg" color="#a93bba">
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <meta name="description" content="Warpforge"/>
    <script defer data-domain="dank.toolz" src="https://plausible.chunky.dev/js/script.js"></script>
    <title>Warpforge - {{ title }}</title>
</head>