{% from "navigation-macro.njk" import menuItem %}
{% set navPages = collections.all | eleventyNavigation %}
<div class="nav">
    <div class="nav__content">
        <div class="nav__content-actions">
            <a class="logo" href="/">
                <img width="30" height="30" src="/svg/logo-long.svg"/>
            </a>
            <label class="nav__open-button" for="expand-nav">
                <img class="hamburger" width="30" height="30" src="/svg/menu.svg"/>
                <img class="close" width="30" height="30" src="/svg/x.svg"/>
            </label>
        </div>
    </div>
    <div class="menu">
        <div class="menu__content">
            {%- for entry in navPages %}
                {{ menuItem(entry) }}
            {%- endfor %}
        </div>
    </div>
</div>