footer {
  margin: var(--space-xl) auto;
  display: flex;
  flex-direction: column;
  max-width: 80ch;
  width: 100%;
}

footer .logo {
  padding-left: var(--space-lg);
  margin-bottom: var(--space-md);
}

@media (min-width: 768px) {
  footer .logo {
    margin: 0;
  }
}

footer .logo img {
  width: 100px;
  height: auto;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-lg);
}

@media (min-width: 768px) {
  .footer-navigation {
    display: grid;
    margin-top: var(--space-lg);
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-navigation a {
  order: 0;
}

.footer-navigation__collection {
  order: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--space-md) 0;
}

.footer-navigation__collection-title {
  grid-column: 1/4;
  font-weight: bold;
  color: #888;
  margin: var(--space-md) 0 0 0;
}

@media (min-width: 768px) {
  .footer-navigation__collection {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-navigation__collection-title {
    margin: var(--space-md) 0 0 0;
  }
}
