@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/CooperHewitt-Medium.otf');
  font-weight: 400;
  font-display: swap;
}

:root {
  --primary-color: hsla(22, 75%, 50%);
  --secondary-color: #50514f;
  --text-color: hsl(292, 30%, 90%);
  --link-color: hsl(292, 52%, 48%);
  --link-color-hover: hsl(292, 52%, 65%);
  --background-color: #000;
  --light-background-color: hsl(292, 70%, 7%);

  /* Space */
  --space-xs: 0.25em;
  --space-sm: 0.5em;
  --space-md: 1em;
  --space-lg: 2em;
  --space-xl: 4em;
  --space-xxl: 8em;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'PT Sans', sans-serif;
  padding: var(--space-lg) var(--space-xl);
  margin: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: url('/svg/color-gradients.svg');
  background-repeat: repeat-y;
  background-position-y: -700px;
  background-position-x: 60%;
  text-overflow: word-break;
  word-wrap: break-word;
  line-height: 1.5;
}

.body--no-max {
  max-width: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.body--no-max main {
  padding: var(--space-lg) var(--space-xl);
}

main {
  max-width: 50ch;
}

@media (min-width: 768px) {
  main {
    margin: auto;
    max-width: 80ch;
    width: 100%;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cooper Hewitt', verdana;
  color: var(--text-color);
  position: relative;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  padding: var(--space-md) 0;
  margin: var(--space-lg) 0;
  font-size: 1.5em;
  text-align: center;
  text-decoration: wavy;
  text-decoration-color: white;
  text-decoration-line: underline;
  text-underline-offset: 0.1em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  margin-top: var(--space-xl);
  position: relative;
}

h2:after {
  content: '';
  position: absolute;
  background-color: var(--primary-color);
  transform: skewX(-20deg);
  left: -1em;
  top: 0;
  height: 1.25em;
  width: 0.35em;
}

h3 {
  margin-top: var(--space-lg);
}

a.header-anchor:before {
  content: '#';
  color: var(--link-color);
  position: absolute;
  right: -20px;
}

a.header-anchor:focus:before {
  outline: 1px solid var(--secondary-color);
}

a.header-anchor:hover:before {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--link-color-hover);
}

code {
  width: 100%;
  background-color: #ffffff50;
  border-radius: 4px;
  padding: 0 var(--space-xs);
  border: 1px solid var(--primary-color);
}

pre {
  overflow-x: auto;
  background-color: #ffffff50;
  border-radius: 4px;
  padding: 0 var(--space-xs) var(--space-xs) var(--space-xs);
  border: 1px solid var(--primary-color);
  tab-size: 3;
}

pre code {
  background-color: transparent;
  border-radius: 4px;
  padding: 0;
  border: 0;
}

@media screen and (min-width: 768px) {
  pre {
    overflow-x: initial;
  }
}

.logo img {
  width: 150px;
  height: auto;
}

.logo img {
  margin-right: var(--space-sm);
}

.h-spacing--xs {
  padding-left: var(--space-xs);
}

.h-spacing--sm {
  padding-left: var(--space-sm);
}

.h-spacing--md {
  padding-left: var(--space-md);
}

.h-spacing--lg {
  padding-left: var(--space-lg);
}

.h-spacing--xl {
  padding-left: var(--space-xl);
}

.v-spacing--xs {
  padding-bottom: var(--space-xs);
}

.v-spacing--sm {
  padding-bottom: var(--space-sm);
}

.v-spacing--md {
  padding-bottom: var(--space-md);
}

.v-spacing--lg {
  padding-bottom: var(--space-lg);
}

.v-spacing--xl {
  padding-bottom: var(--space-xl);
}
